@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Pretendard-Light';
    font-size: 14px;
    line-height: 30px;
    color: black;
}
#top{
    width: 100%;
    padding-top: 10px;
    overflow: hidden;
}
#top ul{
       float: right;
}
#top ul li{
    float: left;
}
#top ul li a{
    display: block;
    padding-right: 14px;
    font-size: 13px;
    font-family: 'Pretendard-ExtraLight';
}
#top ul li a:hover{
    color: red;
}
#top ul li:nth-child(6) a{
    padding-right: 84px;
}

/*메뉴바*/
input[id="menuicon"]{
	display:none;
}

/*메뉴 아이콘 버튼 크기, 위치*/
input[id="menuicon"]+label{
	display:block;
	width:34px;
	height:20px;
	position:fixed;
	right:38px;
	top:15px;
	z-index:99;
	transition:all 0.5s;
	cursor:pointer;
}

/*메뉴 버튼 클릭했을 때 X버튼 색상*/
input[id="menuicon"]:checked+label span{
	background:#fff;
}

/*메뉴 세줄 버튼*/
input[id="menuicon"]+label span{
	display:block;
	position:absolute;
	width:100%;
	height:5px;
	border-radius:30px;
	background:#999;
	transition:all 0.5s;

}
input[id="menuicon"]+label span:nth-child(1){
	top:0;
}
input[id="menuicon"]+label span:nth-child(2){
	top:50%;
	transform:translateY(-50%);
}
input[id="menuicon"]+label span:nth-child(3){
	bottom:0;
}

/*메뉴 버튼 클릭했을 때 세줄버튼에서 X버튼으로 바뀌는 모습*/
input[id="menuicon"]:checked+label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
input[id="menuicon"]:checked+label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked+label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}


/*메뉴 창*/
.sidebar{
	width:15%;
	height:100%;
	background-color: #999;
	position:fixed;
	top:0;
	right:-100%;
	z-index:98;
	transition:all 0.5s;
}
.sidebar ul li{
    padding-left: 30px;
    padding-top: 20px;
}
.sidebar ul li a{
    color: white;
}
.sidebar ul li a:hover{
    color: black;
}
input[id="menuicon"]:checked+label+div{
	right:0;
}

/*top2*/
#top2{
    width: 100%;
    border-top: 1px solid #ccc;
   padding-bottom: 10px;
   overflow: hidden;
}
#top2 ul li{
    float: left;
    padding-top: 20px;
}
#top2 ul li a{
    display: block;
    padding-right: 40px;
}
#top2 ul li a:hover{
    color: #ccc;
}
#top2 ul li:nth-child(1) a{
    padding-left: 40px;
    padding-right: 60px;
}
#top2 ul li:nth-child(3) a{
    color: red;
}
#top2 ul li:nth-child(3) a:hover{
    color: #ccc;
}
.input{
    border: none;
    border-bottom: 1px solid #ccc;
}
#search_icon{
    padding-right: 100px;
    padding-top: 20px;
    color: darkgray;
    cursor: pointer;
    float: right;
}
/*배너*/

.slide { width:100%; height:100%;}
.slide .swiper-slide {text-align: center; font-size: 18px; background: #fff;
			  /* Center slide text vertically */
			  display: -webkit-box;
			  display: -ms-flexbox;
			  display: -webkit-flex;
			  display: flex;
			  -webkit-box-pack: center;
			  -ms-flex-pack: center;
			  -webkit-justify-content: center;
			  justify-content: center;
			  -webkit-box-align: center;
			  -ms-flex-align: center;
			  -webkit-align-items: center;
			  align-items: center; }
.slide  .swiper-slide img{
	display: block; 
	width:100%;
}

/*이동버튼 영역*/
.slide .swiper-button-next:after,
.slide .swiper-button-prev:after{display:none;}/* 소스에 들어있는 버튼 삭제 */
.slide .swiper-button-next,
.slide .swiper-button-prev{width:27px; height:50px;}/* 버튼 크기 */
.slide .swiper-button-prev{left:10px; background:url(../images/prev.png);}/* 버튼 위치, 버튼 이미지 */
.slide .swiper-button-next{right:10px; background:url(../images/next.png);}/* 버튼 위치, 버튼 이미지 */
.slide .swiper-button-prev:hover{background:url(../images/prev_hover.png);}/* 버튼 호버 이미지 */
.slide .swiper-button-next:hover{background:url(../images/next_hover.png);}/* 버튼 호버 이미지 */

/*블릿버튼 영역*/
.slide .swiper-pagination-bullet{background:pink; width:10px; height:10px; opacity:0.5;}/* 블릿버튼 크기, 색상, 투명도 */
.slide .swiper-pagination-bullet-active{opacity:1;} /* 블릿버튼 페이지 표시날 때 투명도 */ 
.swiper-container-horizontal > .swiper-pagination-bullets{bottom:10px;}/* 블릿버튼 위치 */



/*메인*/
#main{
    width: 100%;
    overflow: hidden;
}

.main_inner{
    margin: 150px auto;
    width: 1320px;
}
.main_inner ul li{
    float: left;
    margin-right: 30px;
    transition: all 1s;
    overflow: hidden;
    
}
.main_inner img:hover{
    transform: scale(1.2, 1.2);
}
.main_inner img:nth-child(3){
    padding-right: 0;
}


/*메인2*/
#main2{
    margin-top: 200px;
    overflow: hidden;
}
.main2_inner{
    width: 1500px;
    margin: auto;
}
.main_h1{
       padding-bottom: 30px;
       font-size: 25px;
       text-align: center;
}
.main_p{
    color: #999;
    text-align: center;
}

.swiper-slide h3{
    line-height: 20px;
   margin-top: 20px;
}
.swiper-slide p{
    color: black;
    padding-top: 20px;
    line-height: 26px;
}
.size{
    font-size: 15px;
    color: #999;
}
.sale{
    color: #ccc;
    text-decoration: line-through;
    font-size: 14px;
}
.blue{
    color: blue;
}





.gallery-center{
	width: 1320px;
	height:100%;
	margin: 50px auto; 
	padding: 0 70px 40px 70px;
	box-sizing: border-box;
    padding: 0 70px;
}
.gallery_inner{
	width: 100%; 
	overflow: hidden;
}
.gallery-center .swiper-slide a{
	width: 100%;
	height: 100%;
}			  
.gallery-center .swiper-slide img {
	display: block;
	width: 100%;
}

/*이동버튼 영역*/
.gallery-center .swiper-button-next:after,
.gallery-center .swiper-button-prev:after{display:none;}/* 소스에 들어있는 버튼 삭제 */
.gallery-center .swiper-button-next,
.gallery-center .swiper-button-prev{width:47px; height:47px;}/* 버튼 크기 */
.gallery-center .swiper-button-prev{top: 171px; left:0px; background:url(../cimg/lefticon.png);}/* 버튼 위치, 버튼 이미지 */
.gallery-center .swiper-button-next{top: 171px;right:0px; background:url(../cimg/righticon.png);}/* 버튼 위치, 버튼 이미지 */
.gallery-center .swiper-button-prev:hover{background:url(../cimg/lefticon.png);}/* 버튼 호버 이미지 */
.gallery-center .swiper-button-next:hover{background:url(../cimg/righticon.png);}/* 버튼 호버 이미지 */


/*메인3*/
#main3{
    width: 100%;
    margin-top: 100px;
    overflow: hidden;
}
.main3_inner{
    width: 1281px;
    margin:auto;
    padding-top: 100px;
}
.sub li{
    float: left;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
    display: block;
    overflow: hidden;
    position: relative;
}
.sub li:nth-child(1){
    border-left: 1px solid black;
    border-top: 1px solid black;
}
.sub li:nth-child(2){
    border-top: 1px solid black;
}
.sub li:nth-child(3){
    border-top: 1px solid black;
}
.sub li:nth-child(4){
    border-left: 1px solid black;
}
.sub li:nth-child(7){
    border-left: 1px solid black;
}
.sub li:nth-child(10){
    border-left: 1px solid black;
}
.sub li:nth-child(13){
    border-left: 1px solid black;
}
.sub li:nth-child(16){
    border-left: 1px solid black;
}
.sub li a{
    display: block;
    padding-right: 10px;
    
}
.sub li h3{
    line-height: 25px;
}
.sub li p{
    padding-top: 20px;
}

.TT{
    color: #999;
    font-size: 14px;
}
.won{
    color: black;
    font-size: 16px;
}
.the{
    text-align: center;
    margin: 60px auto;
}
.the a{
    display: inline-block;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 30px 30px 30px;
}
.the a:hover{
    background-color: black;
    color: white;
}
.bs{
    width: 30px;
    position: absolute;
    bottom: 139px;
    right: 39px;
    opacity: 0;
}
.sub li:hover a .bs{
opacity: 1;
}
.bc{
    width: 28px;
    position: absolute;
    bottom: 181px;
    right: 41px;
    opacity: 0;
}
.sub li:hover a .bc{
opacity: 1;
}
.sub li:hover .art{
    opacity: 0.5;
}
/*메인4*/
.main4{
    width: 100%;
}
.main4_inner{
    width: 1320px;
    margin: 60px auto;
}
.main4_inner img:nth-child(1){
    padding-right: 60px;
    animation:slide-in-left 2s ease 1s ;
}
.main4_inner img:nth-child(2){
    animation:slide-in-right 2s ease 1s ;
}

@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
/*푸터1*/
.footer1{
    width: 100%;
    overflow: hidden;
    background-color: #e6e6e6;
    margin-bottom: 60px;
}
.footer1_inner{
    line-height: 23px;
    width: 1320px;
    margin: auto;
    padding-top: 30px;
}
.footer1_inner div{
    font-family: 'Pretendard-Regular';
    float: left;
    padding-right: 150px;
    padding-bottom: 30px;
}
.footer1_inner div:nth-child(4){
    padding-right: 0;
}
.footer1_inner div:nth-child(4) a{
    display: inline-block;
    float: none;
    font-size: 16px;
    padding-right: 10px;
    font-family: 'Pretendard-ExtraLight';

}
.footer1_inner div:nth-child(4) a:hover{
    color: red;
}
.footer1_inner h2{
    font-weight: bold;
    padding-bottom: 30px;
    font-size: 20px;
}
.footer1_inner h4{

    padding-bottom: 10px;
    font-size: 20px;
    

}


.footer2{
    width: 100%;
    margin-top: 20px;
}
.footer2_inner{
    width: 1320px;
    margin: 30px auto;
    text-align: center;
    color: #999;
}

